/* CSS stylesheet for forms */

.formControl {
  font-family: Arial, Helvetica, sans-serif;
}

.formControl p, h1{
  text-align: left;
}

.formControl textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  width: 100%;
}

.formControl input[type=text] {
  font-size: 12px;
}

.formControl input[type=text].recipeName {
  width: 50%;
}


.formControl input[type=email] {
  font-size: 12px;
}

.formControl input[type=password] {
  font-size: 12px;
}

.formControl input[type=submit] {
  width: auto;
  color: white;
  border: none;
  background-color: #008080; /*#00B8EA*/
  font-size: 16px;
  border-radius: 5px;
  padding: 3px;
  cursor: pointer;
}

.formControl div.formActionButtons {
  text-align: right;
}

.formControl input.cancelButton {
  width: auto;
  color: white;
  border: none;
  background-color: #343D52;
  font-size: 16px;
}

.formControl input.addButton {
  width: auto;
  color: white;
  border: none;
  background-color: #343D52; /*#4CBB17;*/
  font-size: 12px;
}

.formControl input.deleteButtonClass {
  width: auto;
  color: white;
  border: none;
  background-color: #343D52; /*#ED1C24;*/
  font-size: 12px;
}

.formControl table {
  width: 100%;
}

.formControl td {
  padding: 5px;
  border: none;
}

.formControl table textarea{
  width: 100%;
}

.formControl table input{
  width: 100%;
}

.formControl table td.deleteButtonCol{
  text-align: right;
  width: 50px;
}
