/* CSS stylesheet for site content */

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  max-width: 600px;
}

div.container {
  background-color: #F5F5F5;
  padding: 25px;
}

div.container a {
  text-decoration: none;
}

div.headerContainer {
  text-align: center;
}

div.buffering{
  text-align: center;
}

input[type=button]{
  width: auto;
  color: white;
  border: none;
  background-color: #343D52;
  font-size: 16px;
  border-radius: 5px;
  padding: 3px;
  cursor: pointer;
}

input[type=button].editRecipeButton{
  width: auto;
  color: white;
  border: none;
  background-color: #008080;
  font-size: 16px;
  border-radius: 5px;
  padding: 3px;
  cursor: pointer;
}

p, ul, ol {
  font-size: 14px;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

div.menuCardContainer{
  display: flex;
}

div.menuCard{
  flex: 1;
  color: white;
  text-align: center;
  background: #343D52;
  padding: 10px;
  margin: 10px;
}

div.menuCard a{
  text-decoration: none;
  color: inherit;
}

table.browseRecipesTable{
  width: 100%;
  border-collapse: collapse;
}

table.browseRecipesTable td{
  border: 1px solid #B3B3B3;
  padding: 5px;
  font-size: 12px;
}

table.browseRecipesTable th{
  border: 1px solid #343D52;
  background-color: #343D52;
  color: white;
  text-align: left;
  padding: 5px;
  font-size: 14px;
}

table.browseRecipesTable th.recipeName{
  width: 60%;
}

table.browseRecipesTable th.category{
  width: 15%;
}

table.browseRecipesTable th.createdBy{
  width: 25%;
}

table.browseRecipesTable tr td a{
  color: #008080;
}

table.myRecipesTable{
  width: 100%;
  border-collapse: collapse;
}

table.myRecipesTable td{
  border: 1px solid #B3B3B3;
  padding: 5px;
  font-size: 12px;
}

table.myRecipesTable th{
  border: 1px solid #343D52;
  background-color: #343D52;
  color: white;
  text-align: left;
  padding: 5px;
  font-size: 14px;
}

table.myRecipesTable th.recipeName{
  width: 80%;
}

table.myRecipesTable th.category{
  width: 20%;
}

table.myRecipesTable tr td a{
  color: #008080;
}

div.actionButtonContainer {
  text-align: right;
}

div.signinContainer{
  display: flex
}

div.signinContainer div{
  flex: 1;
}

div.homePage {
  text-align: center;
}
